
/* Rest of your existing styles */
label {
    display: inline-block;
    font-weight: bold;
    color: #333;
}

input[type="number"] {
    width: 70px;
    padding: 4px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
}

input[type="checkbox"] {
    margin: 0px 10px 0px 5px;
}

.random-string-box{
    border-style: solid;
    width: 300px;
	height: 100px;
}

p {
    word-wrap: break-word;
    max-width: 100%;
    white-space: normal;
    color: #333;
}
